.profile-img {
    max-width: 200px;
}

h2 {
    margin-bottom: 3px;
}

.price {
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 20px;
    text-align: right;
}

.date {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 17px;
    text-align: right;
}